<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">

    <title>MEAN 030: Message Board</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Message Board</h1>
            <% if(messages.happy) { %>
            <ul>
                <% for(var msg of messages.happy){ %>
                <li class="alert alert-danger"><%= msg %></li>
                <% } %>
            </ul>
            <% } %>
            <form action="/create" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Your name...">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" name="content" id="content" cols="30" rows="5" placeholder="Your content here..."></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Add">
                </div>
            </form>
        </div>
        <% if(allmessages.length > 0){ %>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Messages</th>
                </tr>
            </thead>
            <tbody>
                <% for(var msg of allmessages){ %>
                <tr>
                    <td>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Message</th>
                                    <th>Posted</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= msg.name %></td>
                                    <td><%= msg.content %></td>
                                    <td><%= msg.createdAt.toLocaleString() %></td>
                                </tr>
                                <% if(msg.comments.length > 0){ %>
                                <tr>
                                    <td colspan="3"">
                                        <h4>Comments</h4>
                                        <hr>
                                        <% for (var comment of msg.comments){ %>
                                            <p><b><%= comment.name %>(<%= comment.createdAt.toLocaleString() %>)</b>: <%= comment.content %></p>
                                        <% } %>
                                    </td>
                                <tr>
                                <% } %>
                                <tr>
                                    <td colspan=" 3"">
                                        <form action="/comments/create/<%= msg._id %>" method="post">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input class="form-control" type="text" name="name" id="name" placeholder="Your name...">
                                            </div>
                                            <div class="form-group">
                                                <label for="content">Content</label>
                                                <textarea class="form-control" name="content" id="content" cols="30" rows="3" placeholder="Your content here..."></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-primary" type="submit" value="Add">
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <% } %>
            </tbody>
            <% } %>
        </table>
    </div>
</body>

</html>